@import url('https://fonts.googleapis.com/css2?family=Anton&family=Raleway&family=Teko&display=swap');
*{margin:0;padding:0;}
   
html{
	height: 100%;
	width: 100%;
}
#logo{
	position: absolute;
	 height: 25%;
	 width: auto;
	 margin: -2.5% 0 0 -1%; 
	
}
header {
	height: 20%;
	width: 100%;
    background: rgba(255,255,255,1);
background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 19%, rgba(246,246,246,1) 24%, rgba(60,198,232,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(19%, rgba(255,255,255,1)), color-stop(24%, rgba(246,246,246,1)), color-stop(100%, rgba(60,198,232,1)));
background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 19%, rgba(246,246,246,1) 24%, rgba(60,198,232,1) 100%);
background: -o-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 19%, rgba(246,246,246,1) 24%, rgba(60,198,232,1) 100%);
background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 19%, rgba(246,246,246,1) 24%, rgba(60,198,232,1) 100%);
background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 19%, rgba(246,246,246,1) 24%, rgba(60,198,232,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#3cc6e8', GradientType=1 );
}
nav{
	position: absolute;
	margin-top: 4.2%;
	margin-left: 23%;
	width: 72%;
}
nav li{
    display:inline-block;
	width:10%;
	padding: 0.8% 2%;
    background-color: rgba( 255, 255, 255, 0.1);
	border:1px solid #000;
	border-radius: 10px;
    text-align:center;
    color: black;
}
nav li:hover{
    background-color:rgb( 255, 255, 255);
    color:#000;
}
nav a{
	font-family: 'Raleway', sans-serif;
    text-decoration:none;
    color:inherit;
	font-size:12px;	
} 	

/* nav li{
	float:left;
	width:10%;
	padding:5px 10px;
	background-color:rgba( 255, 255, 255, 0.1);
	border:1px solid #000;
	border-radius: 10px;
	text-align:center;
	color:black;
	} */

.botonesHom{
	/* background-color: red; */
	height: 7%;
	position: relative;
	z-index: 1;
}
.botonesHome{
	position:relative ;
	font-size: 12px;
	margin-right: revert;
	float: right; 
	margin-top: 0.3%;
	margin-right: 1%;
	font-family: 'Raleway', sans-serif;
	width:11%;
	padding:0.8%;
	border:1px solid #55767c;
	border-radius:10px;
	display:block;
	color:#fff;
    background-color:#55767c;
	text-decoration: none;
	
}
#Home{
	margin-left: 11%;
	width: 79%;
}
.principal{
	
	position: relative;
	width: 90%;
	height: auto;
	margin-left: 5%;
	margin-bottom: 8%;
}
.centro{
	margin-top: 2%;
	margin-left: 13%;
	width: 75%;
	height: auto;
	margin-bottom: 5%;
}
.fotosHome{
	width: 100%;
}
.contacto{
	
	margin-top: -4.1%;
	z-index: -1;
	width: 88%;
	height: 100%;
	padding: 5px;
	box-sizing: border-box;
	margin-left: 4%;
	background-color: #eee;

}
#enlaceContacto{
	background-color: lawngreen;
	z-index: 0;
}
span{
	color: rgb(0, 102, 255);
}
.columnasGaleria{
	-moz-column-count: 2; /* Para Firefox */
    -webkit-column-count: 2; /* Para Opera, Chrome, Safari */
    column-count: 2; /*Con esto lo que hacemos es crear dos coumnas */
    text-align: center; /*Con esto acentramos tanto las fotos como el texto para que quede cenrado */
	/* column-count: 2 ; */
	column-gap: 10%;
	margin-left: 5%;
}
.columnas{	
	-moz-column-count: 2; /* Para Firefox */
    -webkit-column-count: 2; /* Para Opera, Chrome, Safari */
    column-count: 2; /*Con esto lo que hacemos es crear dos coumnas */
    text-align: center; /*Con esto acentramos tanto las fotos como el texto para que quede cenrado */
	
	column-gap: 2%;
	margin-top: 2%;
	margin-left: 1%;
}

#mensage{
	width: 70%;
	margin-top: 15%;
	margin-left: 10%;
	position:absolute;
}

.izquierda{
	width: 30%;
	margin-top: 10%;
	margin-bottom: 5%;
	margin-left: 2%;
}

.derecha{
	
	width: 30%;
	margin-left: 67%;
	margin-top: -45%;
}
.iconos{
	width: 10%;
	margin-right: 8%;
}


/* #sension {
	position: relative;
	width:400px;
	padding:16px;
    border-radius:10px;
    border: solid 3px #04a1ba;
	margin:auto;
    background-color: #96dae5 ;
    font-family: 'Raleway', sans-serif;
} */
form{
	position: relative;
	width:32%;
	padding:1%;
    border-radius:10px;
    border: solid 3px #04a1ba;
	margin:auto;
    background-color: #96dae5 ;
	font-family: 'Raleway', sans-serif;
	margin-bottom: 4%;
	margin-top: 5%;
}

 h1,h2,h3{
	margin-top: 5%;
	text-align: center;
	font-family: 'Raleway', sans-serif;
}

p{
	font-family: 'Raleway', sans-serif;
}	
a{
	color: black;
	text-decoration: none;
}

form label{
	width:35%;
	font-weight:bold;
	display:inline-block;
	margin-left: 16%;
}

form input[type="text"], form input[type="password"], form input[type="email"]{
	/* width:100%; */
	padding:1% 0%;
	border:1px solid #f6f6f6;
	border-radius:3px;
	background-color:#f6f6f6;
	margin:2% 0;
	display:inline-block;
}

input[type="submit"], form input[type="submit"],form input[type="button"] {
	width:30%;
	padding:2% 7%;
	margin-left: 33%;
	margin-top:15px;
	border:1px solid #d34712;
	border-radius:10px;
	display:block;
	color:#040562;
	background-color:#eb825a;
} 

form input[type="submit"]:hover{

	cursor:pointer;
}

a input[type="button"]{
	width:30%;
	padding:2% 0%;
	margin-left: 33%;
	margin-top:15px;
	border:1px solid #d34712;
	border-radius:10px;
	display:block;
	color:#040562;
	background-color:#eb825a;

}
td a input[type="button"]{
	width: 100%;
	margin: 25% 0%;
	padding: 11% 0%;

}

table{
	background-color:#3cc6e8;
	padding:16px;
    border: solid 1px#55767c;
	margin:auto;
    font-family: 'Raleway', sans-serif;
    border-collapse: collapse;
    width: 70%;
}
td{
	text-align: center;
}
table td, table tr{

    padding: 5px ;
}
table tr:nth-child(even){background-color: #96DAE5;}
table tr:hover {background-color: #ddd;}


.tarifaHorizontal{
	background-color: #e0a332 ;
	color:white;
	list-style: none;
	text-align: center;
	padding: 8%;
	width: 100%;
}

.tarifaVertical{
	background-color: #44576c;
	color:white;
	list-style: none;
	text-align: center;
	padding: 8%;
	width: 100%;
}

.tarifaTabla{
	background-color: #719430;
	color:white;
	list-style: none;
	text-align: center;
	padding: 8%;
	width: 100%;
}

.tarifas{
	
    float: left;
   	width: 13%;
	margin: 1%;	
}

.tarifaIzquierda{
	width: 75%;
	height:24%;
	margin-left: 21%;
	margin-top:8%;
	
}
.tarifaDerecha{

	width: 50%;
	margin-left: 25%;
	margin-top: 5%;
}
.tarifaTemporadas{
	color: #e0a332;
	margin-bottom: 4% ;
}
#ideasCabecera{
	margin-top: 3%;
	margin-left: 15%;
	margin-right: 8%;
}
.sitios{
	/* column-count: 2; */
	/* float: left; */
	-moz-column-count: 2; /* Para Firefox */
	-webkit-column-count: 2; /* Para Opera, Chrome, Safari */
	column-count: 2;  /*Con esto lo que hacemos es crear dos coumnas */
	text-align: center;  /* Con esto acentramos tanto las fotos como el texto para que quede cenrado */
}
.imagenSitios{

	
	width: 85%;
	margin-top: 5%;
	margin-left: 10%;
	margin-bottom: 20%;
	/* float: left; */
}

.textoSitios{

	width: 90%;
	text-align: inherit;
	padding-top:7%;
	line-height: 1.5;

	/* float: left; */

}
.textoSitios1{

	width: 90%;
	text-align: inherit;
	padding-top: 18%;
	line-height: 1.5;
	/* float: left; */

}
footer {
	position: fixed;
	left: 0px;
	bottom: 0px;
	height: 3%;
	width: 100%;
	text-align: center;
	padding-top: 2%;
	font-size: 20px;
	font-family: cursive;
	background: rgba(60,199,230,1);
	background: -moz-linear-gradient(left, rgba(60,199,230,1) 0%, rgba(188,224,238,1) 53%, rgba(60,199,230,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(60,199,230,1)), color-stop(53%, rgba(188,224,238,1)), color-stop(100%, rgba(60,199,230,1)));
	background: -webkit-linear-gradient(left, rgba(60,199,230,1) 0%, rgba(188,224,238,1) 53%, rgba(60,199,230,1) 100%);
	background: -o-linear-gradient(left, rgba(60,199,230,1) 0%, rgba(188,224,238,1) 53%, rgba(60,199,230,1) 100%);
	background: -ms-linear-gradient(left, rgba(60,199,230,1) 0%, rgba(188,224,238,1) 53%, rgba(60,199,230,1) 100%);
	background: linear-gradient(to right, rgba(60,199,230,1) 0%, rgba(188,224,238,1) 53%, rgba(60,199,230,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3cc7e6', endColorstr='#3cc7e6', GradientType=1 );
	font-size: 10px;
}
footer p{
	margin-top: -0.5%;
}
	
/*
#header tr {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    font-size: 20px;
    color: #040562;
}
*/
/*
.botonesFuera{

	width:400px;
	padding:16px;
    border-radius:10px;
    border: solid 3px #04a1ba;
	margin:auto ;
    background-color: #96dae5 ;
	font-family: 'Raleway', sans-serif;
}*/

/*
#botonesAdminUser{
	width:400px;
	padding:16px;
    border-radius:10px;
	margin:auto;
    background-color: #96dae5 ;
    font-family: 'Raleway', sans-serif;
} */
@media screen and (max-width: 599px) {
    /* .textGroup {

        margin-top: 20px;
    }
    .imgSize {
        width: 60%
    }
    .imge {
        width: 60%;  
               
	} */
	h1{
		font-size: 19px;
		text-align: center;
		margin-top: 12%;
	}	
	h2 {
		font-size: 17px;
	}
	h3{
		font-size: 15px;
	}
	p{
		font-size: 14px;
	}
	#logo{
		position: absolute;
		height: 15%;
		width: auto;
		margin: -2.5% 0 0 -1%; 
			
	}
	header {
		height: 10%;
		width: 100%;
		background: rgba(255,255,255,1);
		background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 19%, rgba(246,246,246,1) 24%, rgba(60,198,232,1) 100%);
		background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(19%, rgba(255,255,255,1)), color-stop(24%, rgba(246,246,246,1)), color-stop(100%, rgba(60,198,232,1)));
		background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 19%, rgba(246,246,246,1) 24%, rgba(60,198,232,1) 100%);
		background: -o-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 19%, rgba(246,246,246,1) 24%, rgba(60,198,232,1) 100%);
		background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 19%, rgba(246,246,246,1) 24%, rgba(60,198,232,1) 100%);
		background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 19%, rgba(246,246,246,1) 24%, rgba(60,198,232,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#3cc6e8', GradientType=1 );
	}
	.botonesHome{
		font-size: 10px;
		width: 25%;


	}
	nav li{
		width: 11%;
		padding: 0.8% 1%;
	}
	nav a{
		font-size: 8px;
	}
	.columnas{	
		-moz-column-count: 1; /* Para Firefox */
		-webkit-column-count: 1; /* Para Opera, Chrome, Safari */
		column-count: 1; /*Con esto lo que hacemos es crear dos coumnas */
		text-align: center; /*Con esto acentramos tanto las fotos como el texto para que quede cenrado */
	}
	.galeriabox{
		margin-top: -10.5%;
	}
	.fotoGaleria{
		width: 90%;

	}
	.columnasGaleria{
		-moz-column-count: 1; /* Para Firefox */
		-webkit-column-count: 1; /* Para Opera, Chrome, Safari */
		column-count: 1; /*Con esto lo que hacemos es crear dos coumnas */
		text-align: center; /*Con esto acentramos tanto las fotos como el texto para que quede cenrado */
		column-gap: 10%;
		margin-left: 5%;
	}
	.sitios {
		-moz-column-count: 1; /* Para Firefox */
		-webkit-column-count: 1; /* Para Opera, Chrome, Safari */
		column-count: 1; /*Con esto lo que hacemos es crear dos coumnas */
		text-align: center; /*Con esto acentramos tanto las fotos como el texto para que quede cenrado */
	}
	.imagenSitios{
		height: 85%;
		width: 85%;
		margin-left: -1%;
		margin-top: 10%;
		margin-bottom: 10%;
		
	}

	.textoSitios, .textoSitios1{
			
		width: 90%;
		text-align: justify;
		margin-left: 6%;
		margin-bottom: 10%;
		
	}
	iframe{
		width: 319%;
	}
	.derecha{
		width: 95%;
		margin-top: 30%;
		margin-left: 3%;
	}
	.contacto {
		position: relative;
		top: -7%;
		z-index: -1;
		width: 92%;
		height: auto;
		padding: 5px;
		box-sizing: border-box;
		margin-left: 4%;
		background-color: #eee;
		/* .fotos{
		height: auto;
		} */
	}
	input[type="submit"], form input[type="submit"],form input[type="button"] {
		width: 50%;
		margin-left: 22%;
		font-size: 10px;
	}
	.principal{
		margin-top: -10.3%;
	}
	.iconos{
		width: 8%;
	}
	footer p{
		margin-top: 0%;
		font-size: 10px;
	}
}
@media screen and (min-width: 600px) {

	/*.sitios {*/
		/*-moz-column-count: 1;*/ /* Para Firefox */
		/*-webkit-column-count: 1;*/ /* Para Opera, Chrome, Safari */
		/*column-count: 1;*/ /*Con esto lo que hacemos es crear dos coumnas */
		/*text-align: center;*/ /*Con esto acentramos tanto las fotos como el texto para que quede cenrado */
		/*}*/
		/* .imagenSitios{
			height: 85%;
			width: 85%;
			margin-left: 2%;
			margin-bottom: 20%;
								 float: left; 
		} */
		
		/* .textoSitios{
			background-color: red;
			width: 90%;
			text-align: inherit;
			margin-left: 6%;
		
		} */
    /* .column {
        float: left;
        width: 50%;
    }
    .textGroup {
        margin-left: 80px;
    }
    section:after {
        content: "";
        display: table;
        clear: both;
    }
    .imgSize {
        width: 30%
    }
    .imge {
        width: 40%
    }   */
} 